<div class="jumbotron">
    <h2 class="text-center">The</h2>
    <h1 class="text-center">quote</h1>
    <h2 class="text-center">Garden.</h2>
</div>
<div class="container-fluid content">
  <div class="row">
      <div class="col-md-8">
            <h2 class="text-center">Quote Wall</h2>
            <hr>
          <div *ngFor='let quote of quotes;let i = index'>
              <div>
                  <h4> <img src="../assets/images/quotes.png" alt=""> {{quote.description}}</h4> 
                  <small>Posted By: {{quote.publisher}}</small>
                  <p>Published: {{quote.publishDate|dateAgo}}</p>
                  <button (click)='toggleDetails(i)' class="btn btn-outline-info">See More</button>
              </div>
                
              <div *ngIf='quote.showDescription'>
                  <app-quote-detail [quote]='quote' (isBoring) = 'boringQuote($event,i)'></app-quote-detail>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <app-quote-form (addQuote)="addNewQuote($event)"> </app-quote-form>
      </div>
  </div>
  <p *ngIf='quotes.length > 5'>you have too many quotes</p>
</div>
<div class="container-fluid footer">
  <footer id="sticky-footer" class="py-4 text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Gichuru Isaac</small>
    </div>
  </footer>

</div>