<div class="container-fluid">
  <h2 class="text-center">Publish Quote</h2>
  <br>
  <form (ngSubmit)='submitQuote() ;quotesForm.resetForm({})' #quoteForm='ngForm' class="form-right">
    <div class="form-group">
      <label for="author">Author</label>
      <input type="text" class="form-control" id="author" [(ngModel)]="newQuote.name" name="name" #name='ngModel' required>
      {{newQuote.name}}
      <br>
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Plagiarism isn't Flattery:
          Author is Required!
      </div>
    </div>
      <div class="form-group">
        <label for="Quote">Quote</label>
        <textarea id="quote" rows="3" class="form-control" required [(ngModel)]="newQuote.description" name="description" #description="ngModel"></textarea>
        <br>
        <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
          Description is required.
        </div>
      </div>
      <div class="form-group">
        <label for="publisher">Publisher</label>
        <input type="text" required class="form-control" id="publisher" [(ngModel)]="newQuote.publisher" name="publisher" #publisher='ngModel'>
      </div>
      <button type="submit" class="btn btn-outline-success">Add Quote!</button>
  </form>
</div>